<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>college registration</h2>
    <form method="POST">
        {% csrf_token%}
        <label for="name">Name</label>
        <input type="text" id="name" name="name"><br> 
        <label for="email">Email</label>
        <input type="text" id="email" name="email"><br>
        <label for="text">Phone Number</label>
        <input type="text" id="Pn" name="phone"><br>
        <label for="text">Age</label>
        <input type="text" id="age" name="age"><br>
        <input type="submit" value="SUBMIT">
    </form>
    
</body>
</html>